@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* linear-gradient(180deg, rgba(103, 171, 234, 0.24) 0%, rgba(233, 90, 8, 0.60) 100%) */

body {
  background: #f5f8ff;
  font-family: "Inter", sans-serif;
}

.max-w-lg {
  max-width: 80rem;
  margin: 0 auto;
}

.noto-serif {
  font-family: "Noto Serif", serif;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.menu-item {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.menu-item li a {
  text-decoration: none;
  color: #8987a1;
}

.menu-item li .active {
  font-weight: 700;
}

.fa-cart-shopping,
.menu-item li .black {
  color: #000;
}

.w-full {
  width: 100%;
}

/* banner styles */
.banner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 6rem 0;
}

.banner-heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 0.75rem;
}

.text-gray {
  color: #00000080;
}

.banner-desc {
  max-width: 38rem;
  font-size: 1.5rem;
}

.tomato {
  color: #e95a08;
}

/* plant section styles */
.plant-content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.plant-content p {
  font-size: 1.5rem;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.pb-13 {
  padding-bottom: 13rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.text-3xl {
  font-size: 3rem;
}

.flower-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  gap: 2.5rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}

.flower-name {
  margin-bottom: 0.75rem;
  font-weight: 500;
  font-size: 1.25rem;
}
.flower-price {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.flower-buy-button {
  background: #e95a08;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1.125rem 0;
  font-weight: 600;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
.w-h {
  width: 17rem;
  height: 20rem;
  object-fit: cover;
  object-position: top;
}
.max-w-17 {
  max-width: 17rem;
}

/* Plants lover section styles */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
  width: 18rem;
  right: -6rem;
  top: -8rem;
}

.plant-store-container {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}

.plant-store-content h2 {
  margin-bottom: 1.5rem;
}

.plant-benefits {
  opacity: 0.5;
  font-size: 1.5rem;
  padding-left: 2rem;
}

.plant-benefits li {
  margin-bottom: 1.25rem;
}

.pr-7 {
  padding-right: 7rem;
}

/* join section styles */
.join-container {
  background: rgba(7, 51, 79, 0.4);
  background-image: url("../images/news-letter-bg.png");
  background-size: cover;
  height: 34rem;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-heading {
  margin-bottom: 1.5rem;
  color: #ffffff;
  text-align: center;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-form .email {
  padding: 1rem 1.25rem;
  width: 40rem;
  outline: none;
  border: none;
}

.email::placeholder {
  font-size: 1rem;
  opacity: 0.5;
  color: #000;
}

.submit {
  padding: 1rem 3rem;
  border: none;
  background-color: #e95a08;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

/* footer styles */
.py-3 {
  padding: 3rem 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-logo p {
  max-width: 20rem;
  opacity: 0.5;
  font-size: 1.25rem;
  margin-top: 1rem;
}
.social-links a {
  margin-right: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .none {
    display: none;
  }

  .p-1 {
    padding: 1.5rem 1rem;
  }

  .w-4 {
    width: 4rem;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 0;
  }

  .banner-heading,
  .plant-content h1,
  .newsletter-heading {
    font-size: 1.5rem;
  }

  .banner-desc,
  .plant-content p {
    font-size: 0.875rem;
  }

  .plant-content p {
    margin-bottom: 1.5rem;
    padding: 0 1rem;
  }

  .flower-container {
    grid-template-columns: auto auto;
    gap: 1.5rem 0;
  }
  .w-h {
    max-width: 11rem;
    max-height: 13rem;
  }
  .text-base {
    font-size: 1rem;
  }
  .plant-store-container {
    flex-direction: column;
    gap: 1.5rem;
  }
  .flower-store {
    width: 100%;
  }
  .pr-0 {
    padding-right: 0;
    margin-bottom: 1rem !important;
  }
  .plant-benefits {
    padding-left: 1rem;
  }
  .plant-benefits li {
    margin-bottom: 1rem;
  }

  .join-container {
    height: 17rem;
  }
  .newsletter-form .email {
    width: 13rem;
  }
  .submit {
    padding: 1rem;
  }
}
